.nav-link{
  text-transform: uppercase;
  text-align: right;
  letter-spacing: 0.2rem;
  font-weight: 100;
  font-size: 1.0em;
  margin-left: 25px;
}
h1{
  font-family: 'Aladin', cursive;
  opacity: 0.8;
  color: #020303;
  font-size: 60px;
  line-height: 60px;
}

h1::before {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  content: ' ';
  /* background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/9e/Decorative_text_divider_3.svg");*/
  background-image: url(../img/tesoura.png);
  background-size: 129px 13px;
  height: 13px;
  width: 129px;
  transform: rotate(180deg);
  margin-bottom: 16px;
}

h1::after {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  content: ' ';
  /* background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/9e/Decorative_text_divider_3.svg");*/
  background-image: url(../img/tesoura.png);
  background-size: 129px 13px;
  height: 13px;
  width: 129px;
  transform: rotate(180deg);
  margin-bottom: 30px;
}

a#whats:link,a#whats:visited{
  text-decoration: none;
  color: white;
}

a#socialnet:link,a#socialnet:visited{
  text-decoration: none;
  color: white;
}
body {
  font-family: 'FuturaPT', serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  letter-spacing: 0.01em;
  text-align: center;
  background-color: #F5F5F5;
}

.media-body .caption .container{

  left: 0;
}

#home-slidder{
  background-image: url(../img/bg1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;

  min-height: 750px;
  height: 100vh;

  position: relative;
}

#barber-slidder{
  background-image: url(../img/bg4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;

  min-height: 120vh;
  height: auto;

  position: relative;
}

#contact-slidder{
  background-image: url(../img/banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  position: relative;
}

#about{
  top: 0;
}

.btn{
  display: block;
  margin-top: 3vh;
  font-family: Dancing Script;
  z-index: 99999999999;
  position: relative;
 /* margin-left: 53vh;
  margin-top: 10vh;
  position: absolute;*/
}
.btn:hover{
  color:  #809fff;
}

.bordertop{
  background-image: url(../img/bordertop.png);
  background-size: cover;
  background-position: center;
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 142px; 
}

.bordertop2{
 background-image: url(../img/bordertop.png);
 background-size: cover;
 background-position: center;
 display: block;
 position: absolute;
 width: 100%;
 top: 0;
 height: 142px; 
 transform: rotate(180deg);
}


.caption .btn-start {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding: 14px 40px;
  border: 2px solid #ffffff;
  border-radius: 4px;
  margin-top: 40px;
}

.titulo-depoimentos {
  background-color: #0275D8;
  padding-top: 25px;
  padding-bottom: 25px;
  color: #FFF;
  margin-bottom: 0;
  font-size: 24px;
}

.element-animate{
  opacity: 0;
  visibility: hidden;
}

.last-articles__title{
  background-color: black;
  padding: 3px;
}

.last-articles__title h2{
  font-size: 24px;
  color: white;
  text-transform: uppercase;
  font-weight: 400;
}

.last-articles__thumbs{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 0;
}


.last-articles__thumbs img{
  display: block;
  width: 100%;
  
}

.our-team-inner{
  position: relative;
}

.zoom {
  overflow: hidden;
}

.zoom img {
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.zoom:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;

  overflow: auto;
  background-color: black;
}


.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;  
  max-width: 640px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.our-team-inner::before {
  content: "";
  border: 4px solid #ffffff;
  position: absolute;
  top: 16px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  width: 93%;
  height: 75%;

}

.our-team-text {
  text-align: center;
  padding-left: 24px;
  position: relative;
  z-index: 9;
  padding-top: 10px;
  min-height: 105px;
}

.our-team-box {
  float: left;
  padding-left: 28px;
  padding-right: 28px;
  min-width: 328px;
}

.our-team-text::before {
  content: "";
  text-align: center;
  background: #000000;
  width: 100%;
  height: 70px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.our-team-img img{
  height: 432px;

  width: 100%;
}

.map-top-block {
  float: left;
  width: 25%;
}

.map-top-text p, .map-top-text a {
  font-size: 13px;
  line-height: 16px;
  color: #c7c7c7;
  font-weight: normal;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;

}

.map-inner-ic {
  border: 1px solid #917758;
  border-radius: 100%;
  display: block;
  height: 40px;
  padding-top: 8px;
  text-align: center;
  width: 40px;
  background: #FFFFFF;
  color: #000000;
  font-size: 18px;
  margin: 0 auto;
}

.map-top-text {
  overflow: hidden;
  padding: 25px 0 0 0;
}

.razor {
  width: 513px;
  height: 944px;
  position: absolute;
  right: 0;
  background: url(../img/navalha.png) no-repeat;
  transform: rotate(60deg);
  margin-top: -400px;
  z-index: 99999;
}

h5{
  color: white;
  font-family: 'Oswald';
}

span{
  color: #d19d64;
  font-family: 'Oswald';
}
img{
  outline: none;
}
