.nav-link{
    text-transform: uppercase;
    text-align: right;
    letter-spacing: 0.2rem;
    font-weight: 100;
    font-size: 1.0em;
    margin-left: 25px;
}
h1{
  font-family: 'Aladin', cursive;
  opacity: 0.8;
  color: #020303;
font-size: 60px;
line-height: 60px;
}

h1::before {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    content: ' ';
   /* background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/9e/Decorative_text_divider_3.svg");*/
    background-image: url(../img/tesoura.png);
    background-size: 129px 13px;
    height: 13px;
    width: 129px;
    transform: rotate(180deg);
    margin-bottom: 16px;
}

h1::after {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    content: ' ';
   /* background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/9e/Decorative_text_divider_3.svg");*/
    background-image: url(../img/tesoura.png);
    background-size: 129px 13px;
    height: 13px;
    width: 129px;
    transform: rotate(180deg);
    margin-bottom: 30px;
}

a#whats:link,a#whats:visited{
  text-decoration: none;
  color: white;
}

a#socialnet:link,a#socialnet:visited{
  text-decoration: none;
  color: white;
}
body {
  font-family: 'FuturaPT', serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  letter-spacing: 0.01em;
  text-align: center;
  background-color: #F5F5F5;
}

.media-body .caption .container{
    
    left: 0;
}

#home-slidder{
    background-image: url(../img/bg1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;

    min-height: 750px;
	height: 100vh;

    position: relative;
}

#about{
  top: 0;
}

.btn{
  display: block;
  margin-top: 3vh;
  font-family: Dancing Script;
  z-index: 99999999999;
  position: relative;
 /* margin-left: 53vh;
  margin-top: 10vh;
  position: absolute;*/
}
.btn:hover{
  color:  #809fff;
}

.bordertop{
  background-image: url(../img/bordertop.png);
  background-size: cover;
  background-position: center;
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 142px; 
  z-index: 9999999;
}

.bordertop2{
   background-image: url(../img/bordertop.png);
  background-size: cover;
  background-position: center;
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  height: 142px; 
  transform: rotate(180deg);
  z-index: 999999;
}


.caption .btn-start {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding: 14px 40px;
  border: 2px solid #ffffff;
  border-radius: 4px;
  margin-top: 40px;
}

.titulo-depoimentos {
  background-color: #0275D8;
  padding-top: 25px;
  padding-bottom: 25px;
  color: #FFF;
  margin-bottom: 0;
  font-size: 24px;
}

.element-animate{
  opacity: 0;
  visibility: hidden;
}

.last-articles__title{
  background-color: black;
  padding: 3px;
}

.last-articles__title h2{
  font-size: 24px;
  color: white;
  text-transform: uppercase;
  font-weight: 400;
}

.last-articles__thumbs{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 0;
}


.last-articles__thumbs img{
  display: block;
  width: 100%;
  
}

.our-team-inner{
  position: relative;
}

.our-team-inner::before {
    content: "";
    border: 4px solid #ffffff;
    position: absolute;
    top: 16px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    width: 93%;
    height: 75%;
}

.our-team-text {
    text-align: center;
    padding-left: 24px;
    position: relative;
    z-index: 9;
    padding-top: 10px;
    min-height: 105px;
}

.our-team-box {
    float: left;
    padding-left: 28px;
    padding-right: 28px;
}

.our-team-text::before {
    content: "";
    text-align: center;
    background: #000000;
    width: 324px;
    height: 70px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.our-team-img img{
  height: 432px;


  width: 100%;
}

h5{
  color: white;
  font-family: 'Oswald';
}

span{
  color: #d19d64;
  font-family: 'Oswald';
}
img{
  outline: none;
}
